########################################
# SVXLink JP Edition
# Main Configuration
########################################

CALLSIGN=YOURCALL-L
ECHOLINK_CALL=YOURCALL-L
ECHOLINK_PASSWORD=YOUR_PASSWORD

########################################
# Audio
########################################

AUDIO_CARD=2
AUDIO_DEVICE=plughw:2

########################################
# GPIO
########################################

PTT_GPIO=17
POWER_GPIO=27

########################################
# Network
########################################

NETWORK_MODE=DHCP

IP=
MASK=
GATEWAY=
DNS=

########################################
# Radio
########################################

VOX=ON

########################################
# System
########################################

LANGUAGE=JP

VERSION=2.0
